name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.18.2
        with:
          elixir-version: "1.18"
          otp-version: "27.0"
      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: mix-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('mix.lock') }}
      - name: Install dependencies
        run: mix deps.get
      - name: Start DB
        run: docker compose up --detach --wait
      - name: Run tests
        run: mix test

  # deploy:
  #   needs: build
  #   if: github.ref == 'refs/heads/main'
  #   runs-on: ubuntu-24.04

  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         ref: main
  #         fetch-depth: 0

  #     - uses: actions/setup-python@v2
  #       with:
  #         python-version: 3.8.1

  #     - uses: mhanberg/gigalixir-action@7c4c09ec2c3562eded85b711fd735eb34f8001e9
  #       with:
  #         GIGALIXIR_APP: fladan
  #         GIGALIXIR_CLEAN: true
  #         GIGALIXIR_USERNAME: ${{ secrets.GIGALIXIR_USERNAME }}
  #         GIGALIXIR_PASSWORD: ${{ secrets.GIGALIXIR_PASSWORD }}
  #         MIGRATIONS: false
